header {
    width: 100%;
    height: 5.62vw;
    background-color: #fff;
    position: relative;
    z-index: 1;
    top: 0;
}
.topheader{
    background-color: #db7418;
    width: 100%;
    height: 2vw;
    color: #eeeeee;
    z-index: 1;
}

.topfooter{
    background-color: #db7418;
    width: 100%;
    height: 2vw;
    color: #eeeeee;
    z-index: 1;
}
.categoryProduct {
    /*font-size: 35px;*/
    font-weight: 400;
    color: #db7418;
}
.bottomFoot {
    background-color: #32343b;
    width: 100%;
}
.footerHeadTotal{
    color: #eeeeee;
    padding-left: 155px;
    padding-top: 6px;
    font-size: 13px;
}
.footerHeadTotals{
    color: #eeeeee;
    padding-top: 6px;
    font-size: 13px;
}

.footerBottom{
    color: #eeeeee;
    padding-top: 6px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
}
.footerBottomUnder{
    color: #db7418;
    padding-top: 6px;
    font-size: 13px;
    text-align: center;
    margin-bottom: 0px;
    padding-bottom: 18px;
}
.topfooters{
    background-color: #3d404d;
    width: 100%;
    z-index: 1;
}
.arrowcheck{
    color: #db7418;
}
.slideLeft{
    background: linear-gradient(to bottom, #368a5f 47%, #236342 63%);
}

.headerTop {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    padding-top: 3px;
    height: 31px;
    color: #db7418;
    background-color: black;
}
.signin {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    height: 31px;
    color: #bbbbbb;
    float: right;
    position: relative;
    padding-top: 37%;
    left: 24px;
}
.log{
    padding-top: 3%;
    padding-left: 11px;
    border-radius: 74%;
    height: 35px;
    margin-top: 27px;
    width: 35px;
    background-color: #db7418;
}

.sideBtton{
    background-color: white;
    padding-bottom: 13px;
}
.sideAreaRight{
    height: 73vh;
}
.AddArea {
    padding-top: 271px;
    color: #eeeeee;
    font-size: 40px;
    text-align: center;
}
.AddAreas {
    padding-top: 186px;
    color: #eeeeee;
    font-size: 40px;
    text-align: center;
}
.buttonClick{
    padding: 8px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid orange;
    width: 100%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.sliderPadd{
    padding-left: 0 !important;
    padding-right: 0 !important;
    padding-bottom: 100px;
}
.font{
    padding-top: 6px;
    font-size: 35px !important;
}
.background{
  background-color: gainsboro;
}


.btnSearch {
    float: left;
    width: 9%;
    height: 43px;
    padding: 10px;
    background: #db7418 ;
    color: white;
    font-size: 17px;
    border: none;
    /*border-left: none;*/
    cursor: pointer;
}
.searchIcon{
    position: relative;
    z-index: 2;
    display: block;
    pointer-events: none;
    color: #db7418;
    left: -21px;
    top: 9px;
}
.demand{
    color: #db7418 ;
    font-size: 22px;
    padding: 8px 12px;
    bottom: 8px;
    border-bottom: 2px solid goldenrod ;
}
.btnSell{
    float: left;
    width: 60%;
    padding: 10px;
    background: #db7418 ;
    color: white;
    font-size: 17px;
    border: none;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
}
.main{
    width: 100%;
    position: relative;
    background-repeat: no-repeat;
}
.logo {
    width: 118px;
    height: 69px;
    position: relative;
    top: 13%;
}

.searchInput{
    height: 38px;
    color: black;
    font-size: 16px;
    padding-left: 15px;
    width: 100%;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 1px solid orange;
}
.check{
    display: none;
}

.mediaCheck{
    font-size: 20px!important;
}

.padding {
    padding: 26px;
    display: flex;
}

.imageCover{
    max-width: 134vh;
    padding-top: 12px;

}

.selectCategory{
    height: 44px;
    color: black;
    font-size: 16px;
    line-height: 16px;
    width: 100%;
    background-color: #f0f1f1;
    border-radius: 2px;
    border: 1px solid #fff;
}
.slideshow-container {
    /* max-width: 1000px; */
    max-height: 326px;
    position: relative;
    margin: auto;

}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.categoryLast{
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 2px solid goldenrod;
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*.active {*/
/*    background-color: #717171;*/
/*}*/

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
}
.mySlides {display: none;}
img {vertical-align: middle;}

.imageSize{ width: 100%; height: 285px; position: absolute; }
.Category{
    background: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border: 2px solid goldenrod;
}

.checks{
    width: 100%;
    padding-top: 5px;
    margin: 0 auto;
}
.headText{
    padding: 16px 16px 16PX;
    text-align: center;
    white-space: nowrap;
}
.headTexts{
    padding: 16px 16px 16px;
    font-weight: bold;
    white-space: nowrap;
}
.categoryDiv{
    width: 90px;
    height: 90px;
    padding: 4px;
    background: gainsboro;
    border-radius: 50%;
    transition: transform .3s ease-out;
    margin-left: 54px;
}

.event {
    transform: scale(1);
    transition: .3s ease-in-out;
}
.cardCheck{
    color: rgba(0, 0, 0, 0.87);
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    background-color: #fff;
    box-shadow: 0 6px 6px rgba(0,0,0,0.23);
    /*border-radius: 10px;*/
    width: 231px;
    height: auto;
}
.cardss {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    /* padding: 100px; */
    margin-left: 31px;
    margin-bottom: 13px;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /*border: 1px solid rgba(0, 0, 0, .125);*/
    /*border-radius: .25rem;*/
}
.user {
    color: white;
}
.product{
    margin-top: 5px;
    height: 130px;
    width: 130px;
    position: relative;
    border-radius: 8px;
}

.categoryTitle{
    font-size: 1rem;
    color: rgb(97, 106, 107);
    text-align: center;
    font-size: 1rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.00938em;
}
.title {
    font-size: 14px;
    font-weight: 600;
    color: cornflowerblue;
    padding-left: 6px;
    padding-right: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    padding-top: 7px;
}

.price{
    font-size: 14px;
    color: #f57224;
    font-weight: 500;
    padding-left: 6px;
    padding-right: 6px;
    margin-bottom: 0px;
}


.displayEdit{
    display: flex;
}


.categoryImage{
    height: 76px;
}
.footerHeadText{
    padding-top: 20px;
    color: #eeeeee;
    font-size: 17px;
    font-weight: 500;
}
.footerText{
    padding-top: 5px;
    color: #eeeeee;
    font-size: 14px;
    font-weight: 300;
}

.footerTextLink{
    padding-top: 5px;
    color: #0e8ce4;
    font-size: 14px;
    font-weight: 400;
}
.grow{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-left: 3px;
    margin-left: 6px;
    background-color: #bbbbbb;
}
.iconSocial{
    width: 21px;
    height: 21px;
}
.inputButton{
    padding-top: 50px;
}
.submitFooter{
    background-color: gray;
    color: #eeeeee;
    border: none;
}
/*==============*/


.bbb_viewed {
    background: #eff6fa
}

.bbb_main_container {
    background-color: #fff;
    padding: 11px
}

.bbb_viewed_title_container {
    /*border-bottom: solid 1px #dadada*/
}


.bbb_viewed_title {
    margin-bottom: 16px;
    margin-top: 8px
}

.bbb_viewed_nav_container {
    position: absolute;
    right: 14px;
    bottom: 134px;
    background-color: orange;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    z-index: 100;
}

.bbb_viewed_nav_containers {
    position: absolute;
    bottom: 134px;
    background-color: orange;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    z-index: 100;
    left: 14px;
}


.bbb_viewed_nav {
    display: inline-block;
    cursor: pointer
}

.bbb_viewed_nav i {
    color: #dadada;
    font-size: 18px;
    padding: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_nav:hover i {
    color: #606264
}



.bbb_viewed_item {
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px
}

.bbb_viewed_image {
    width: 150px;
    height: 150px
}


.bbb_viewed_content {
    width: 100%;
    /*margin-top: 25px*/
}

.bbb_viewed_price {
    font-size: 16px;
    color: #f58522;
    font-weight: 500
}


.bbb_viewed_price span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 8px
}

.bbb_viewed_price span::after {
    display: block;
    position: absolute;
    top: 6px;
    left: -2px;
    width: calc(100% + 4px);
    height: 1px;
    background: #8d8d8d;
    content: ''
}

.bbb_viewed_name {
    margin-top: 3px
}

.bbb_viewed_name a {
    font-size: 14px;
    color: #000000;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}

.bbb_viewed_name a:hover {
    color: #0e8ce4
}

.item_marks {
    position: absolute;
    top: 18px;
    left: 18px
}

.item_mark {
    display: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: 500;
    line-height: 36px;
    text-align: center
}

.item_discount {
    background: #df3b3b;
    margin-right: 5px
}

.item_new {
    background: #0e8ce4
}

.bbb_viewed_item.discount .item_discount {
    display: inline-block
}

.bbb_viewed_item.is_new .item_new {
    display: inline-block
}
.owl-item{
    width: 188px;
}
.gallery {
    background: #eeeeee;
}

.gallery-cell:before {
    display: block;
    text-align: center;
    /*content: counter(gallery-cell);*/
    line-height: 200px;
    font-size: 80px;
    color: white;
    position: relative;

}

.gallery-cell {
    width: 100%;
    background: white;
    height: 200px;
    margin-right: 10px;
    text-align: center;
    position: relative;
    counter-increment: gallery-cell;
}
.flickity-prev-next-button .flickity-button-icon {
    display: none !important;
}
.ItemDes{
    font-size: 15px;
    font-weight: 500;
}
.flickity-page-dots {
    position: absolute;
    width: 100%;
    bottom: 1px !important;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 1;
}
.productaLast {
    /* margin-top: 70px; */
    height: 135px;
    width: 135px;
    position: relative;
    border-radius: 8px;
}
input:focus
{
    border: 1px solid #db7418;
    box-shadow: 0 0 3px #db7418;
    outline-offset: 0px;
    outline: none;
}
.bbb_viewed_image img {
    display: block;
    max-width: 100%;
    height: 133px;
}
.hooverTest:hover{
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.paddingEddit{
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.bottomPadding{
    padding-bottom: 10px;
}
.paddingTop{
    padding-top: 10px;
}