@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .sideAreaRight {
        display: none;
    }

    .slideLeft {
        background: white;
    }

    .imageCover {
        display: none;
    }

    header {
        width: 100%;
        height: 24.62vw;
        background-color: #fff;
        position: relative;
        z-index: 1;
        top: 0;
    }

    .signin {
        display: none;

    }

    .headerTop {
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        padding-top: 3px;
        position: relative;
        z-index: 1;
        height: 84px;
        color: #f57224;
        background-color: black;
    }

    .sliderPadd {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 70px;
        padding-bottom: 100px;
    }

    .buttonClick {
        padding: 8px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: white;
        border: 1px solid orange;
        width: 100%;
        height: 111px;
    }

    .categoryProduct {
        font-size: 35px;
        font-weight: 400;
        color: #f57224;
    }

    .arrowcheck {
        font-size: 60px !important;
        color: #f57224;
    }

    .logo {
        width: 173px;
        height: 92px;
        position: relative;
        top: 31%;
    }

    .log {
        padding-left: 11px;
        border-radius: 74%;
        height: 71px;
        margin-top: -210px;
        margin-left: 802px;
        width: 71px;
        background-color: orangered;
    }

    .user {
        font-size: 47px !important;
        color: white;
        margin-top: -19px;
        margin-left: 8px;
    }

    .searchInput {
        height: 82px;
        color: black;
        font-size: 27px;
        padding-left: 15px;
        min-width: 118%;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border: 1px solid orange;
    }

    .searchIcon {
        position: relative;
        z-index: 2;
        display: block;
        pointer-events: none;
        color: orangered;
        left: -67px;
        font-size: 39px !important;
        top: 20px;
    }

    .headText {
        padding: 16px 16px 16PX;
        text-align: center;
        white-space: nowrap;
        font-size: 65px;
    }

    .product {
        margin-top: 70px;
        height: 289px;
        width: 289px;
        position: relative;
        border-radius: 8px;
    }

    .title {
        font-size: 29px;
        font-weight: 600;
        color: cornflowerblue;
        padding-left: 6px;
        padding-right: 6px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 6px;
    }

    .demand {
        color: #f57224;
        font-size: 56px;
        padding: 8px 12px;
        bottom: 8px;
        border-bottom: 6px solid goldenrod;
    }

    .bbb_viewed_image {
        width: 262px;
        height: 262px;
    }

    .bbb_viewed_item {
        width: 177%;
        background: #FFFFFF;
        border-radius: 2px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .bbb_viewed_price {
        font-size: 37px;
        color: orangered;
        font-weight: 500;
    }

    .footerHeadTotal {
        color: #eeeeee;
        padding-left: 8px;
        padding-top: 24px;
        font-size: 50px;
    }

    .topfooter {
        background-color: #f57224;
        width: 100%;
        height: 11vw;
        color: #eeeeee;
        z-index: 1;
    }

    .footerHeadTotals {
        color: #eeeeee;
        padding-top: 27px;
        padding-left: 531px;
        font-size: 50px;
    }

    .footerHeadText {
        padding-top: 60px;
        color: #eeeeee;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }

    .footerText {
        padding-top: 5px;
        color: #eeeeee;
        font-size: 32px;
        text-align: center;
        font-weight: 300;
    }

    .footerTextLink {
        padding-top: 5px;
        color: #0e8ce4;
        font-size: 32px;
        text-align: center;
        font-weight: 400;
    }

    .footerHeadText {
        padding-top: 60px;
        color: #eeeeee;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }

    .textDisplay {
        padding-left: 240px;
    }

    .textDisplays {
        padding-left: 232px;
    }

    .grow {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding-left: 78px;
        padding-top: 21px;
        margin-top: 35px;
        margin-left: 181px;
        background-color: #bbbbbb;
    }

    .iconSocial {
        width: 48px;
        height: 48px;
        margin-left: -65px;
        margin-top: -11px;
    }

    .inputButton {
        padding-top: 50px;
        padding-left: 214px;
        padding-bottom: 12px;
    }

    .footerInput {
        height: 68px;
        width: 415px;
    }

    .submitFooter {
        background-color: gray;
        color: #eeeeee;
        border: none;
        font-size: 38px;
    }

    .footerBottom {
        color: #eeeeee;
        padding-top: 6px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
    }

    .footerBottomUnder {
        color: #f57224;
        padding-top: 6px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 18px;
    }

    .bbb_viewed_nav_container {
        position: absolute;
        right: 14px;
        bottom: 134px;
        background-color: orange;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        z-index: 100;
    }

    .bbb_viewed_nav:hover i {
        color: #606264;
        margin-left: 12px;
        margin-top: 6px;
        font-size: 38px !important;
    }

    .bbb_viewed_nav i {
        margin-left: 12px;
        margin-top: 6px;
        font-size: 38px !important;
    }

    .bbb_viewed_nav_containers {
        position: absolute;
        bottom: 134px;
        background-color: orange;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        z-index: 100;
        left: 14px;
    }

    .padding {
        padding: 43px;
        display: flex;
    }

    .categoryLast {
        background: #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        border: 2px solid goldenrod;
        height: 652px;
    }

    .flickity-enabled.is-draggable .flickity-viewport {
        cursor: move;
        height: 498px !important;
    }

    .productaLast {
        margin-top: 70px;
        height: 297px;
        width: 297px;
        position: relative;
        border-radius: 8px;
    }

    .gallery-cell {
        width: 100%;
        background: white;
        margin-right: 10px;
        height: 521px;
        text-align: center;
        position: relative;
        counter-increment: gallery-cell;
    }

    .ItemDes {
        font-size: 38px;
        font-weight: 500;
    }

    .bbb_viewed_image img {
        display: block;
        max-width: 100%;
        height: 230px;
    }
}
@media  (min-width: 200px) and (max-device-width: 320px)
{
    .categoryLast {
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border: 2px solid goldenrod;
        height: 652px;
    }
    .sideAreaRight {
        display: none;
    }
    .slideLeft {
        background: white;
    }
    .imageCover {
        display: none;
    }
    header {
        width: 100%;
        height: 24.62vw;
        background-color: #fff;
        position: relative;
        z-index: 1;
        top: 0;
    }
    .signin {
        display: none;

    }

    .headerTop {
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        padding-top: 3px;
        position: relative;
        z-index: 1;
        height: 84px;
        color: #f57224;
        background-color: black;
    }
    .sliderPadd {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .buttonClick {
        padding: 8px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: white;
        border: 1px solid orange;
        width: 100%;
        height: 111px;
    }
    .categoryProduct{
        font-size: 35px;
        font-weight: 400;
        color: #f57224;
    }
    .arrowcheck{
        font-size: 60px !important;
        color: #f57224;
    }
    .logo {
        width: 173px;
        height: 92px;
        position: relative;
        top: 31%;
    }
    .log {
        padding-left: 11px;
        border-radius: 74%;
        height: 71px;
        margin-top: -210px;
        margin-left: 802px;
        width: 71px;
        background-color: orangered;
    }
    .user{
        font-size: 47px !important;
        color: white;
        margin-top: -19px;
        margin-left: 8px;
    }
    .searchInput {
        height: 82px;
        color: black;
        font-size: 27px;
        padding-left: 15px;
        min-width: 118%;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border: 1px solid orange;
    }
    .searchIcon {
        position: relative;
        z-index: 2;
        display: block;
        pointer-events: none;
        color: orangered;
        left: -67px;
        font-size: 39px !important;
        top: 20px;
    }
    .headText {
        padding: 16px 16px 16PX;
        text-align: center;
        white-space: nowrap;
        font-size: 65px;
    }
    .product {
        margin-top: 70px;
        height: 289px;
        width: 289px;
        position: relative;
        border-radius: 8px;
    }
    .title {
        font-size: 29px;
        font-weight: 600;
        color: cornflowerblue;
        padding-left: 6px;
        padding-right: 6px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 6px;
    }
    .demand {
        color: #f57224;
        font-size: 56px;
        padding: 8px 12px;
        bottom: 8px;
        border-bottom: 6px solid goldenrod;
    }
    .bbb_viewed_image {
        width: 262px;
        height: 262px;
    }
    .bbb_viewed_item {
        width: 177%;
        background: #FFFFFF;
        border-radius: 2px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .bbb_viewed_price {
        font-size: 37px;
        color: orangered;
        font-weight: 500;
    }
    .footerHeadTotal {
        color: #eeeeee;
        padding-left: 8px;
        padding-top: 24px;
        font-size: 50px;
    }
    .topfooter {
        background-color: #f57224;
        width: 100%;
        height: 11vw;
        color: #eeeeee;
        z-index: 1;
    }
    .footerHeadTotals {
        color: #eeeeee;
        padding-top: 27px;
        padding-left: 531px;
        font-size: 50px;
    }
    .footerHeadText {
        padding-top: 60px;
        color: #eeeeee;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }
    .footerText {
        padding-top: 5px;
        color: #eeeeee;
        font-size: 32px;
        text-align: center;
        font-weight: 300;
    }
    .footerTextLink {
        padding-top: 5px;
        color: #0e8ce4;
        font-size: 32px;
        text-align: center;
        font-weight: 400;
    }
    .footerHeadText {
        padding-top: 60px;
        color: #eeeeee;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }
    .textDisplay {
        padding-left: 240px;
    }
    .textDisplays{
        padding-left: 232px;
    }
    .grow {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding-left: 78px;
        padding-top: 21px;
        margin-top: 35px;
        margin-left: 181px;
        background-color: #bbbbbb;
    }
    .iconSocial {
        width: 48px;
        height: 48px;
        margin-left: -65px;
        margin-top: -11px;
    }
    .inputButton {
        padding-top: 50px;
        padding-left: 214px;
        padding-bottom: 12px;
    }
    .footerInput{
        height: 68px;
        width: 415px;
    }
    .submitFooter {
        background-color: gray;
        color: #eeeeee;
        border: none;
        font-size: 38px;
    }
    .footerBottom {
        color: #eeeeee;
        padding-top: 6px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
    }
    .footerBottomUnder {
        color: #f57224;
        padding-top: 6px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 18px;
    }
    .bbb_viewed_nav_container {
        position: absolute;
        right: 14px;
        bottom: 134px;
        background-color: orange;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        z-index: 100;
    }
    .bbb_viewed_nav:hover i {
        color: #606264;
        margin-left: 12px;
        margin-top: 6px;
        font-size: 38px !important;
    }
    .bbb_viewed_nav i {
        margin-left: 12px;
        margin-top: 6px;
        font-size: 38px !important;
    }
    .bbb_viewed_nav_containers {
        position: absolute;
        bottom: 134px;
        background-color: orange;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        z-index: 100;
        left: 14px;
    }
    .padding {
        padding: 43px;
        display: flex;
    }
    .categoryLast {
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border: 2px solid goldenrod;
        height: 652px;
    }
    .flickity-enabled.is-draggable .flickity-viewport {
        cursor: move;
        height: 498px !important;
    }
    .productaLast {
        margin-top: 70px;
        height: 297px;
        width: 297px;
        position: relative;
        border-radius: 8px;
    }
    .gallery-cell {
        width: 100%;
        background: white;
        margin-right: 10px;
        height: 521px;
        text-align: center;
        position: relative;
        counter-increment: gallery-cell;
    }
    .ItemDes {
        font-size: 38px;
        font-weight: 500;
    }
    .bbb_viewed_image img {
        display: block;
        max-width: 100%;
        height: 230px;
    }
}


@media only screen
and (min-device-width: 480px)
and (max-device-width: 768px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .categoryLast {
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border: 2px solid goldenrod;
        height: 652px;
    }
    .sideAreaRight {
        display: none;
    }
    .slideLeft {
        background: white;
    }
    .imageCover {
        display: none;
    }
    header {
        width: 100%;
        height: 24.62vw;
        background-color: #fff;
        position: relative;
        z-index: 1;
        top: 0;
    }
    .signin {
        display: none;

    }

    .headerTop {
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        padding-top: 3px;
        position: relative;
        z-index: 1;
        height: 84px;
        color: #f57224;
        background-color: black;
    }
    .sliderPadd {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .buttonClick {
        padding: 8px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: white;
        border: 1px solid orange;
        width: 100%;
        height: 111px;
    }
    .categoryProduct{
        font-size: 35px;
        font-weight: 400;
        color: #f57224;
    }
    .arrowcheck{
        font-size: 60px !important;
        color: #f57224;
    }
    .logo {
        width: 173px;
        height: 92px;
        position: relative;
        top: 31%;
    }
    .log {
        padding-left: 11px;
        border-radius: 74%;
        height: 71px;
        margin-top: -210px;
        margin-left: 802px;
        width: 71px;
        background-color: orangered;
    }
    .user{
        font-size: 47px !important;
        color: white;
        margin-top: -19px;
        margin-left: 8px;
    }
    .searchInput {
        height: 82px;
        color: black;
        font-size: 27px;
        padding-left: 15px;
        min-width: 118%;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border: 1px solid orange;
    }
    .searchIcon {
        position: relative;
        z-index: 2;
        display: block;
        pointer-events: none;
        color: orangered;
        left: -67px;
        font-size: 39px !important;
        top: 20px;
    }
    .headText {
        padding: 16px 16px 16PX;
        text-align: center;
        white-space: nowrap;
        font-size: 65px;
    }
    .product {
        margin-top: 70px;
        height: 289px;
        width: 289px;
        position: relative;
        border-radius: 8px;
    }
    .title {
        font-size: 29px;
        font-weight: 600;
        color: cornflowerblue;
        padding-left: 6px;
        padding-right: 6px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 6px;
    }
    .demand {
        color: #f57224;
        font-size: 56px;
        padding: 8px 12px;
        bottom: 8px;
        border-bottom: 6px solid goldenrod;
    }
    .bbb_viewed_image {
        width: 262px;
        height: 262px;
    }
    .bbb_viewed_item {
        width: 177%;
        background: #FFFFFF;
        border-radius: 2px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .bbb_viewed_price {
        font-size: 37px;
        color: orangered;
        font-weight: 500;
    }
    .footerHeadTotal {
        color: #eeeeee;
        padding-left: 8px;
        padding-top: 24px;
        font-size: 50px;
    }
    .topfooter {
        background-color: #f57224;
        width: 100%;
        height: 11vw;
        color: #eeeeee;
        z-index: 1;
    }
    .footerHeadTotals {
        color: #eeeeee;
        padding-top: 27px;
        padding-left: 531px;
        font-size: 50px;
    }
    .footerHeadText {
        padding-top: 60px;
        color: #eeeeee;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }
    .footerText {
        padding-top: 5px;
        color: #eeeeee;
        font-size: 32px;
        text-align: center;
        font-weight: 300;
    }
    .footerTextLink {
        padding-top: 5px;
        color: #0e8ce4;
        font-size: 32px;
        text-align: center;
        font-weight: 400;
    }
    .footerHeadText {
        padding-top: 60px;
        color: #eeeeee;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }
    .textDisplay {
        padding-left: 240px;
    }
    .textDisplays{
        padding-left: 232px;
    }
    .grow {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding-left: 78px;
        padding-top: 21px;
        margin-top: 35px;
        margin-left: 181px;
        background-color: #bbbbbb;
    }
    .iconSocial {
        width: 48px;
        height: 48px;
        margin-left: -65px;
        margin-top: -11px;
    }
    .inputButton {
        padding-top: 50px;
        padding-left: 214px;
        padding-bottom: 12px;
    }
    .footerInput{
        height: 68px;
        width: 415px;
    }
    .submitFooter {
        background-color: gray;
        color: #eeeeee;
        border: none;
        font-size: 38px;
    }
    .footerBottom {
        color: #eeeeee;
        padding-top: 6px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
    }
    .footerBottomUnder {
        color: #f57224;
        padding-top: 6px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 18px;
    }
    .bbb_viewed_nav_container {
        position: absolute;
        right: 14px;
        bottom: 134px;
        background-color: orange;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        z-index: 100;
    }
    .bbb_viewed_nav:hover i {
        color: #606264;
        margin-left: 12px;
        margin-top: 6px;
        font-size: 38px !important;
    }
    .bbb_viewed_nav i {
        margin-left: 12px;
        margin-top: 6px;
        font-size: 38px !important;
    }
    .bbb_viewed_nav_containers {
        position: absolute;
        bottom: 134px;
        background-color: orange;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        z-index: 100;
        left: 14px;
    }
    .padding {
        padding: 43px;
        display: flex;
    }
    .categoryLast {
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border: 2px solid goldenrod;
        height: 652px;
    }
    .flickity-enabled.is-draggable .flickity-viewport {
        cursor: move;
        height: 498px !important;
    }
    .productaLast {
        margin-top: 70px;
        height: 297px;
        width: 297px;
        position: relative;
        border-radius: 8px;
    }
    .gallery-cell {
        width: 100%;
        background: white;
        margin-right: 10px;
        height: 521px;
        text-align: center;
        position: relative;
        counter-increment: gallery-cell;
    }
    .ItemDes {
        font-size: 38px;
        font-weight: 500;
    }
}



@media only screen
and (min-device-width: 780px)
and (max-device-width: 1024px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
    .imageCover {
        max-width: 48vh;
        padding-top: 12px;
    }
    .product {
        margin-top: 5px;
        height: 78px;
        width: 78px;
        position: relative;
        border-radius: 8px;
    }
    .log {
        padding-top: 3%;
        padding-left: 11px;
        border-radius: 74%;
        height: 35px;
        margin-top: 14px;
        width: 35px;
        background-color: #db7418;
    }
    .padding {
        padding: 9px;
        display: flex;
    }
    .logo {
        width: 96px;
        height: 43px;
        position: relative;
        top: 13%;
    }
    .headerTop {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        padding-top: 2px;
        height: 31px;
        color: #db7418;
        background-color: black;
    }
}


@media only screen and (max-device-width: 384px){

    .sideAreaRight {
        display: none;
    }
    .slideLeft {
        background: white;
    }
    .imageCover {
        display: none;
    }
    header {
        width: 100%;
        height: 24.62vw;
        background-color: #fff;
        position: relative;
        z-index: 1;
        top: 0;
    }
    .signin {
        display: none;

    }

    .headerTop {
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        padding-top: 3px;
        position: relative;
        z-index: 1;
        height: 84px;
        color: #f57224;
        background-color: black;
    }
    .sliderPadd {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 70px;
        padding-bottom: 100px;
    }
    .buttonClick {
        padding: 8px;
        margin-top: 10px;
        border-radius: 5px;
        background-color: white;
        border: 1px solid orange;
        width: 100%;
        height: 111px;
    }
    .categoryProduct{
        font-size: 35px;
        font-weight: 400;
        color: #f57224;
    }
    .arrowcheck{
        font-size: 60px !important;
        color: #f57224;
    }
    .logo {
        width: 173px;
        height: 92px;
        position: relative;
        top: 31%;
    }
    .log {
        padding-left: 11px;
        border-radius: 74%;
        height: 71px;
        margin-top: -210px;
        margin-left: 802px;
        width: 71px;
        background-color: orangered;
    }
    .user{
        font-size: 47px !important;
        color: white;
        margin-top: -19px;
        margin-left: 8px;
    }
    .searchInput {
        height: 82px;
        color: black;
        font-size: 27px;
        padding-left: 15px;
        min-width: 118%;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border: 1px solid orange;
    }
    .searchIcon {
        position: relative;
        z-index: 2;
        display: block;
        pointer-events: none;
        color: orangered;
        left: -67px;
        font-size: 39px !important;
        top: 20px;
    }
    .headText {
        padding: 16px 16px 16PX;
        text-align: center;
        white-space: nowrap;
        font-size: 65px;
    }
    .product {
        margin-top: 70px;
        height: 289px;
        width: 289px;
        position: relative;
        border-radius: 8px;
    }
    .title {
        font-size: 29px;
        font-weight: 600;
        color: cornflowerblue;
        padding-left: 6px;
        padding-right: 6px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding-top: 6px;
    }
    .demand {
        color: #f57224;
        font-size: 56px;
        padding: 8px 12px;
        bottom: 8px;
        border-bottom: 6px solid goldenrod;
    }
    .bbb_viewed_image {
        width: 262px;
        height: 262px;
    }
    .bbb_viewed_item {
        width: 177%;
        background: #FFFFFF;
        border-radius: 2px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .bbb_viewed_price {
        font-size: 37px;
        color: orangered;
        font-weight: 500;
    }
    .footerHeadTotal {
        color: #eeeeee;
        padding-left: 8px;
        padding-top: 24px;
        font-size: 50px;
    }
    .topfooter {
        background-color: #f57224;
        width: 100%;
        height: 11vw;
        color: #eeeeee;
        z-index: 1;
    }
    .footerHeadTotals {
        color: #eeeeee;
        padding-top: 27px;
        padding-left: 531px;
        font-size: 50px;
    }
    .footerHeadText {
        padding-top: 60px;
        color: #eeeeee;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }
    .footerText {
        padding-top: 5px;
        color: #eeeeee;
        font-size: 32px;
        text-align: center;
        font-weight: 300;
    }
    .footerTextLink {
        padding-top: 5px;
        color: #0e8ce4;
        font-size: 32px;
        text-align: center;
        font-weight: 400;
    }
    .footerHeadText {
        padding-top: 60px;
        color: #eeeeee;
        font-size: 50px;
        text-align: center;
        font-weight: 500;
    }
    .textDisplay {
        padding-left: 240px;
    }
    .textDisplays{
        padding-left: 232px;
    }
    .grow {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding-left: 78px;
        padding-top: 21px;
        margin-top: 35px;
        margin-left: 181px;
        background-color: #bbbbbb;
    }
    .iconSocial {
        width: 48px;
        height: 48px;
        margin-left: -65px;
        margin-top: -11px;
    }
    .inputButton {
        padding-top: 50px;
        padding-left: 214px;
        padding-bottom: 12px;
    }
    .footerInput{
        height: 68px;
        width: 415px;
    }
    .submitFooter {
        background-color: gray;
        color: #eeeeee;
        border: none;
        font-size: 38px;
    }
    .footerBottom {
        color: #eeeeee;
        padding-top: 6px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
    }
    .footerBottomUnder {
        color: #f57224;
        padding-top: 6px;
        font-size: 19px;
        text-align: center;
        margin-bottom: 0px;
        padding-bottom: 18px;
    }
    .bbb_viewed_nav_container {
        position: absolute;
        right: 14px;
        bottom: 134px;
        background-color: orange;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        z-index: 100;
    }
    .bbb_viewed_nav:hover i {
        color: #606264;
        margin-left: 12px;
        margin-top: 6px;
        font-size: 38px !important;
    }
    .bbb_viewed_nav i {
        margin-left: 12px;
        margin-top: 6px;
        font-size: 38px !important;
    }
    .bbb_viewed_nav_containers {
        position: absolute;
        bottom: 134px;
        background-color: orange;
        height: 57px;
        width: 57px;
        border-radius: 50%;
        z-index: 100;
        left: 14px;
    }
    .padding {
        padding: 43px;
        display: flex;
    }
    .categoryLast {
        background: #fff;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        border: 2px solid goldenrod;
        height: 652px;
    }
    .flickity-enabled.is-draggable .flickity-viewport {
        cursor: move;
        height: 498px !important;
    }
    .productaLast {
        margin-top: 70px;
        height: 297px;
        width: 297px;
        position: relative;
        border-radius: 8px;
    }
    .gallery-cell {
        width: 100%;
        background: white;
        margin-right: 10px;
        height: 521px;
        text-align: center;
        position: relative;
        counter-increment: gallery-cell;
    }
    .ItemDes {
        font-size: 38px;
        font-weight: 500;
    }
}
